# App
NODE_ENV="development"
PORT=3001

# Database (PostGIS)
DATABASE_URL="postgresql://pbr:pbr_dev@localhost:5433/pbr?schema=public"

# Redis
REDIS_URL="redis://localhost:6380"

# MQTT (EMQX) — optional in dev
MQTT_URL="mqtt://localhost:1883"
MQTT_ACK_TIMEOUT_MS="60000"
MQTT_HEARTBEAT_TIMEOUT_MS="90000"

# JWT
JWT_SECRET="dev-only-jwt-secret-change-me-please-123456"

# Bonum Gateway Web Payment / All in One
BONUM_BASE_URL="https://testapi.bonum.mn"
BONUM_APP_SECRET="1fc53f9389f489ff6e04617bd6338a710e1e7c579cb572aec421f560f363119c0e0039e4b765e53c5339c1e6c77279854b20e998ed4599983a9c9dba12b36e89ce7ee7659043ebffcf77a095587bf694"
BONUM_TERMINAL_ID="17171119"
BONUM_MERCHANT_CHECKSUM_KEY="755753df1f8fb16da1131cc318f1bcec9b5df3e39ae5dee902900cd186e7ece8"
BONUM_CALLBACK_URL="https://google.com/api/v1/payments/bonum/callback"
BONUM_INVOICE_EXPIRES_IN="600"
