# App
NODE_ENV="development"
PORT=3001

# Database (PostGIS)
DATABASE_URL="postgresql://pbr:pbr_dev@localhost:5433/pbr?schema=public"

# Redis
REDIS_URL="redis://localhost:6380"

# MQTT (EMQX) — optional in dev
MQTT_URL="mqtt://localhost:1883"

# JWT
JWT_SECRET="dev-only-jwt-secret-change-me-please-123456"
